@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');

body {
	font-family: 'Lato', sans-serif;
}
a {
	text-decoration: none;
	color: gray;
}
.container {
	display: inline;
	position: absolute;
	justify-content: center;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	box-shadow: green 10px 10px 10px 10px;
	width: 500px;
}

.chat-box {
	align-content: center;

	text-align: center;
	top: 50%;
}

.chat-box input {
	margin-bottom: 10px;
	width: 50%;
	height: 50px;
	border: solid green 1px;
	background: none;
	outline: none;
	font-size: larger;
}

.chat-box select {
	margin-bottom: 10px;
	width: 50%;
	height: 50px;
	border: solid green 1px;
	outline: none;
	font-size: larger;
}

/* Chat Room  */
.nav-bar li {
	list-style: none;
	padding-right: 100px;
}

.nav-bar h4 {
	padding-top: 5px;
}

ul {
	display: flex;
	align-content: center;
	justify-content: space-around;
}

ul button {
	margin-top: 20px;
	border: none;
	background: lightsalmon;
	height: 40px;
	color: white;
	font-size: larger;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	outline: none;
}

ul button :hover {
	color: black;
}

.chat-board {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
}

.chat-board p {
	text-align: center;
}

.chat-text-messages {
	display: flex;
	flex-direction: column;
	text-align: left;
	background: lightgray;
	width: 350px;
	height: 350px;
	overflow: auto;
}

.message .text {
	color: black;
	text-align: left;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 1.4rem;
}

.message {
	background: lightskyblue;
	margin: 10px 10px;
	padding-left: 5px;
	font-size: small;
}

.text-header {
	display: flex;
	justify-content: space-between;
	color: white;
	padding-right: 20px;
	font-size: small;
}

.chat-text {
	background: none;
	border: solid green 1px;
	margin-right: 15px;
	width: 15rem;
	height: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	outline: none;
}

.submit-button {
	background: none;
	border: solid green 2px;
	width: 5rem;
	height: 35px;
	outline: none;
}
